/* html {
  cursor: none;
  overflow: hidden;
} */

.box {
  position: absolute;
  animation: rotate 2.5s infinite linear;
  margin: 0;
  overflow: hidden;
  z-index: -10000;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
